{% extends 'base.html.twig' %}

{% block title %}Hello project Symfony! 😍{% endblock %}

{% block body %}
    <section class="bg-slate-100 rounded-lg mt-20 w-6/12 mx-auto py-12 px-24 shadow-md">
        <p class="mb-1 text-violet-700 font-medium">Welcome to</p>
        <h1 class="text-4xl font-bold">Project Symfony 6.3 🥳</h1>

        <div class="h-0.5 bg-slate-200 my-6"></div>

        <p class="font-bold text-lg mb-4">Structure :</p>
        <ul class="ml-8 list-disc leading-7">
            <li>Symfony 6.3</li>
            <li>Mercure</li>
            <li>PHP 8.2</li>
            <li>
                Redis 3.17 :
                <ul class="ml-8 list-decimal">
                    <li>Gestion du cache Symfony</li>
                    <li>Gestion des sessions</li>
                </ul>
            </li>
            <li>Caddy 2.7</li>
            <li>RabbitMQ 3.12</li>
            <li>TailwindCSS 3.3.2</li>
            <li>MailCatcher</li>
        </ul>

        <div class="h-0.5 bg-slate-200 my-6"></div>

        <p class="font-bold text-lg mb-4">Préinstallé et configuré :</p>
        <ul class="ml-8 list-disc leading-7">
            <li>Fixtures avec Foundry</li>
            <li>Traductions</li>
            <li>Cache avec Redis</li>
            <li>Stimulus</li>
            <li>SCSS avec TailwindCSS</li>
        </ul>

        <div class="h-0.5 bg-slate-200 my-6"></div>

        <p>Modifier cette page en modifiant le fichier :</p>
        <div class="bg-slate-200 text-slate-600 text-sm mt-2 p-4 rounded font-mono">
            ../../src/Controller/HomeController.php
        </div>
    </section>
{% endblock %}
