{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block javascripts %}
    <script>
        const eventSource = new EventSource("{{ mercure('https://localhost/test/1')|escape('js') }}", {
            withCredentials: true
        });

        eventSource.onmessage = event => {
            console.log(event.data);
        }
    </script>
{% endblock %}

{% block body %}
    <div class="w-6/12 mx-auto pt-12">
        <h1 class="text-3xl font-medium">
            Hello world!
        </h1>
    </div>
{% endblock %}
