{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        const eventSource = new EventSource("{{ mercure('https://localhost/test/1')|escape('js') }}", {
            withCredentials: true
        });

        eventSource.onmessage = event => {
            console.log(event.data);
        }
    </script>
{% endblock %}

{% block body %}
    <section>
        <h1 class="text-2xl text-center leading-tight mb-4">
            <span class="block text-6xl mb-4">🥳</span>
            Welcome to
            <span class="block font-bold uppercase">Project Symfony 6.3</span>
        </h1>

        <div class="text-center" {{ stimulus_controller('hello') }}></div>
    </section>
{% endblock %}
